* 
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
}


.banner
{
    background-size:cover;
    background-position:center;
    height: 118vh;
    display:flex;
    justify-content: space-around;
}


body
{
    background-color:rgb(170, 89, 180);


}

.menubar
{
    width: 50px;
    position:fixed;
    margin-top:30px;
}

input[type="checkbox"]
{
   display:none;
   position:fixed;
   margin-left:17px;
   margin-top:48px;


}

input.largercheckbox
{
    width: 40px;
}

#menuin
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size:16px;
    position:fixed;
    margin-top:75px;


}

#menuin li
{
    position:relative;
    left:-150px;

}


input[type="checkbox"]:checked~nav
{
    transform: translateX(150px);
}


#label
{
position:fixed;
z-index:1; 
}


ul li a{
    display: block;
    text-decoration: none;
    color:rgb(200, 147, 233);
    background:#a535e258;
    padding: 5px;
    border: 1px solid #b771e5;
    border-style:dotted;
    width: 150px;
}


li:hover ul
{
display:block;
}

ul li a:hover
{   
    text-decoration:underline;
    background: #8914e2; 
}


.topo
{
    text-align: center;
    padding-top:15px;
    height:50px;
    width:210vh;
    background-color: rgba(113, 37, 185, 0.871);
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:fixed
}



#descrição
{
    font-style: italic;
    font-size:large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(194, 170, 185);
    margin-left:200px;
    padding-top:30px;
}

hr
{
    display: flex;
    justify-content: space-around; 
    color: rgb(216, 113, 207);
    border-width: 3px;
    margin-left:200px;
    width: 1180px;
    background-size: cover;
    background-position: center;
}

.links
{
display:inline;
margin-left: 200px;
word-spacing: 60px;
position:static;
}

#pag1
{
    text-align: center;
    font-size:xx-large;
    list-style:none;
    color:rgb(32, 13, 97);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pag1 li
{
    display: inline;
    text-align: center;
    padding:120px;
}

.app
{
    margin-left:280px;
    color:azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.carrosel
{
    width: 360px;
    height:300px;
    overflow: hidden;
    margin-left:70%;
    margin-top: -20%
}

.carrosel .fotos
{
width:500%;
animation-name:animação;
animation-duration: 20s;
animation-iteration-count:infinite;
}

.carrosel .fotos img
{
width:19.8%
}

@keyframes animação
{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100%{margin-left: -400%;}
}

footer
{
    text-align: center;
    font-size:14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#comments
{
   text-align: center; 
   color:rgb(32, 13, 100);
   font-size:large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}

#comments li
{
    display: inline;
    text-align: center;
    padding:50px; 
    padding-left: 157px; 
}



                                 /*Sobre*/

.barra1
{
    height:30px;
    background-color: #8248aefc;
}
.banner2
{
    background-size:cover;
    background-position:center;
    height: 65.3vh;
    display:flex;
    justify-content: space-around;
}

.espaço
{
    height: 100px;
    border-color:rgb(252, 245, 245);
    background-color: rgb(253, 253, 255);
}

.foto
{
    margin-left:90px;
    width:400px;
}

.logo1
{
    margin-left:150px;
    width:400px;
    margin-top:50px;
}


#Surgiu
{
    position: absolute;
    margin-top: -320px;
    text-align:justify;
    margin-left:660px;
    font-size:20px;
    color:rgb(235, 201, 227);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.member
{
    margin-left:200px;
    color:rgb(246, 243, 249);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

}

#foto
{
    margin-left:150px;
    margin-top:60px;

}

#ideia
{
    margin-top: -400px;
    text-align:justify;
    margin-left:660px;
    font-size:20px;
    color:rgb(235, 201, 227);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.insta
{
    width:80px;
    margin-left:550px;
    margin-top:200px;
}


.botãoinsta
{
    background: rgba(134, 16, 208, 0.351);
border-style:solid;
border-width:2px;
border-radius: 5px;
height:40px;
width:700px;
margin-left:650px;
margin-top:-60px; 
}

.botãoinsta:hover
{
    background: #8914e2;
}
.insta1
{
    margin-left:950px;
    margin-top:-35px; 
    font-size:20px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


                                 /*Grupos*/


.espaço1
{
    display:inline-block;
    width: 2060px;
    height: 120px;
    border: 1px; color:rgb(252, 245, 245);
    background-color: rgb(253, 253, 255);
}

.jogos
{
    margin-top:-80px;
    text-align: center;
    font-family:cursive;
    color: blueviolet;
    font-size:35px;
    font-style: italic;
    font-weight: lighter;
}

.queimada1
{
    margin-left:150px;
    margin-top:60px;
    width:400px; 
}

.oque
{
    margin-top: -200px;
    text-align:justify;
    margin-left:660px;
    font-size:22px;
    color:rgb(235, 201, 227);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.bandeirinha
{
    margin-left:150px;
    margin-top:90px;
    width:400px;  
}

.bandeirinha1
{
    margin-top: -200px;
    text-align:justify;
    margin-left:660px;
    font-size:22px;
    color:rgb(235, 201, 227);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.ultima
{
text-align: center;
margin-top: -50px;
color:blueviolet;
font-size:larger;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vídeo
{
text-align: center;
}

.rosa
{
    text-align: center;
    margin-top: 80px;
    color: rgb(241, 33, 241);
    margin-left:-360px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.branco
{
    text-align: center;
    margin-top: -25px; 
    color: rgb(216, 221, 226);
    margin-left:430px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}


.espaço2
{
    display:inline-block;
    width: 2060px;
    height: 90px;
    border: 1px; color:rgb(252, 245, 245);
    background-color: rgb(253, 253, 255); 
}

/*Sugestões*/

.parte1
{
    text-align: center;
    font-family: cursive;
    color: rgb(218, 226, 226);
    font-style: italic;
}

.aqui
{
    text-align: center;
    font-family: cursive;
    color: rgb(46, 18, 122); 
    font-style: italic;
}

.botão
{
  border-style: solid; 
  border-width:2px;
  background-color: aliceblue;
  border-color: aliceblue;
  border-radius: 5px;
  height:40px;
  width:170px;
  margin-left:1200px;
  margin-top:-40px;
}

.dentro
{
    margin-left:1250px;  
    margin-top:-30px;
    position: absolute;
}

.hr2
{
    width:980px;
    margin-left:400px;
    border-color: rgb(216, 113, 207);
    border-width: 3px;
    
}

.quadrado
{
    border-style:dashed;
    width:300px;
    height:300px;
    border-width:3px;
    border-color: rgba(247, 245, 248, 0.452);
    margin-left:450px;
    background-color: rgba(123, 56, 161, 0.164);
}

.quadrado1
{
text-align: center;
margin-left:-350px;
color: rgb(14, 36, 56);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-justify: auto;
}

.contatos
{
     margin-left:800px;
     margin-top:-340px;
     font-size: large;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


                                                              /*Formulário*/
#Escreva
{
width:600px;

margin-left:500px;
margin-top:-200px;
color: rgb(229, 165, 248);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.escrevendo{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#membro
{
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
}